*.pyc
/backend/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/backend/.vscode/
/migrations
# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Sass
.sass-cache
*.map

# General
/venv/
/env/
/output/
/cache/
